.wrapper {
      min-height: 100vh;
      /* コンテンツの高さの最小値＝ブラウザの高さに指定 */
      position: relative;
      /* 相対位置 */
      padding-top: 100px;
      padding-bottom: 70px;
      /* ヘッダー、フッターの高さを指定 */
}

body {
      margin: 0;
      padding: 0;
      font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
      text-decoration: none;
      color: #4b4b4b;
}

header {
      width: 100%;
      z-index: 10;
      background-color: #87cefa;
      display: flex;
      align-items: center;
      position: fixed;
      top: 0;
      padding: 20px 10px;
      z-index: 10;
      display: flex;
}

header h1 {
      padding: 0;
      font-size: 30px;
      font-weight: bold;
      color: #fafafa;
}

header ul {
      list-style: none;
      margin: 0;
      display: flex;
}

header li {
      margin: 0 0 0 15px;
      font-size: 14px;
      font-weight: bold;
      padding-top: 0px;
      color: #fafafa;
}

header nav {
      margin: 0 0 0 auto;
}

.user-info{
      width: 100%;
      height: 35px;
}

.user-info input{
      margin-right: 30px;
}

.width-control{
      padding-left: 30px;
}

.content-width{
      width: 100%;
      margin: 0 !important;
}

.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #CCCCCC;
}

.card {
  width: 740px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  vertical-align: bottom;
  display: block;
}